{% extends "base.html" %}

{% block page_content %}
<div class="page-header">
    <h1>Events</h1>
</div>

{% from "events/_formhelper.html" import render %}
<form method="post"class="form" role="form">
    {{ form.hidden_tag() }}
    <div class="form-group ">
        <label class="control-label" for="title">Title</label>
        {{ render(form.title, class='form-control', value=form.title.data) }}
    </div>
    
    <div class="form-group ">
        <label class="control-label" for="room">Room</label>
        {{ render(form.room, class='form-control', value=form.room.data) }}
    </div>

    <div class="form-group ">
        <label class="control-label" for="date">Date</label>
        {{ render(form.date, class='form-control', value=form.date.data) }}
        <p class="help-block">hint: 2014-07-12 16:30:00 converts to Jul 12 2014, 4:30:00 PM</p>
    </div>
  
    <input class="btn btn-default" id="submit" name="submit" type="submit" value="Post">
</form>
{% endblock %}
