{% extends "base.html" %}
{% block page_content %}
<ul class="entries">
    <h2 id="marker"></h2>
    {% for event in event_list %}
    {% if not event.deleted %}
    <span id="{{ event.id }}"><h2>{{ event.title }}</h2></span>
    <script type="text/javascript">
        var dateString = "{{ event.thedate }}";
        dateString = dateString.replace(/-/g, ' ');
        var d = new Date(dateString);
        $('#{{ event.id }}').after('<span id="p'+ {{ event.id }} +'"<p>' + "{{ event.room|safe }}<br>" + d.toDateString() + ', ' + d.toLocaleTimeString() + '</p></span>'); 
    </script>
    {% if session.admin %}
    <a href={{ url_for('events.edit_event', id=event.id) }}>edit</a>
    <a href={{ url_for('events.delete', id=event.id) }} style="padding-left: 1em;">delete</a>
    {% endif %}
    {% endif %}
    {% else %}
        <em id="em">No events here so far</em>
    {% endfor %}
</ul>
<script type="text/javascript">
    function longpoll() {
        var latest = String($('span').first().attr('id'));
        $.ajax({
                type: "GET",
                url: $SCRIPT_ROOT + '/longpoll/' + latest, 
                async: true,
                dataType: 'json',
                timeout: 10000,

                success: function(data) {
                    console.log('success');
                    console.log(data.text);
                    setTimeout(longpoll, 10000);
                    }
                });
    }
    
    $(document).ready(function() {
            longpoll();
            });

</script>
{% endblock %}
