{% extends "base.html" %}
{% block page_content %}
<ul class="entries">
    <h2 id="marker"></h2>
    {% for event in event_list %}
    <h2 id= {{ event.id }} >{{ event.title }}</h2>
    <h4 id=room{{ event.id }}>{{ event.room|safe }}</h4>
    <script type="text/javascript">
        var dateString = "{{ event.thedate }}";
        dateString = dateString.replace(/-/g, ' ');
        var d = new Date(dateString);
        $('#room{{ event.id }}').after('<p>' + d.toDateString() + ', ' + d.toLocaleTimeString() + '</p>'); 
    </script>
    {% else %}
        <em id="em">No events here so far</em>
    {% endfor %}
</ul>
<script type="text/javascript">
    setInterval(function() {
        $.getJSON($SCRIPT_ROOT + '/test', {}, function(data) {
            var data_id = parseInt(data.id);
            if (data_id != -1) {
                var to_str = String(data_id);
                var h2_id = document.getElementById(to_str);
                if (h2_id != null) {
                } else {
                    if (! $('#new').length) {
                    $('#em').hide();
                    var dateString = data.thedate;
                    dateString = dateString.replace(/-/g, ' ');
                    dateString = dateString.replace(/GMT/g, ' ');
                    var d = new Date(dateString);
                    $('#marker').before('<h2 id="new">' + data.title + '</h2><h4>' + data.room + '</h4><p>' + d.toDateString() + ', ' + d.toLocaleTimeString() + '</p>');
                    }
                }
            }
            return false;
        });
    }, 30000);
</script>
{% endblock %}
