{% extends "base.html" %}
{% block page_content %}
<ul class="entries">
    <h2 id="marker"></h2>
    {% for event in event_list %}
    <span id="{{ event.id }}"><h2>{{ event.title }}</h2></span>
    <script type="text/javascript">
        var dateString = "{{ event.thedate }}";
        dateString = dateString.replace(/-/g, ' ');
        var d = new Date(dateString);
        $('#{{ event.id }}').after('<span id="p'+ {{ event.id }} +'"<p>' + "{{ event.room|safe }}<br>" + d.toDateString() + ', ' + d.toLocaleTimeString() + '</p></span>'); 
    </script>
    {% if session.admin %}
    <a href={{ url_for('events.edit_event', id=event.id) }}>edit</a>
    <a href={{ url_for('events.delete', id=event.id) }} style="padding-left: 1em;">delete</a>
    {% endif %}
    {% else %}
        <em id="em">No events here so far</em>
    {% endfor %}
</ul>
<script type="text/javascript">
/* checks server for updates/changes every 5 seconds*/
    setInterval(function() {
        $.getJSON($SCRIPT_ROOT + '/update', {}, function(data) {
            var data_id = parseInt(data.id);
            if (data_id != -1) { // check if database is empty 
                var to_str = String(data_id);
                var h2_id = document.getElementById(to_str);
                if (h2_id != null) { // check if there is an id with data_id 
                } else {
                    if (! $('#data.id').length) { // check if this an already existing tag with this id
                        $('#em').hide();
                        // converts datestring and populates the newer/edited events
                        var dateString = data.thedate;
                        dateString = dateString.replace(/-/g, ' ');
                        dateString = dateString.replace(/GMT/g, ' ');
                        var d = new Date(dateString);
                        $('#marker').after('<span id=' + data.id + '><h2>' + data.title + '</h2><span id="p' + data.id + '"<p>' + data.room + '<br>' + d.toDateString() + ', ' + d.toLocaleTimeString() + '</p></span>');

                    if (data.replaced_id != -1) { // removes the edited event using replaced_id
                        $('span[id=' + data.replaced_id + ']').remove();
                        $('span[id=p' + data.replaced_id + ']').remove();
                    }
                    }
                }
            } 
            return false;
        });
    }, 5000);
</script>
{% endblock %}
