{% extends "bootstrap/base.html" %}

{% block title %}Events{% endblock %}

{% block head %}
{{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.css') }}">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
    <script type="text/javascript"
    src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script type="text/javascript">
    var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
{% endblock %}

{% block navbar %}
<div class="header-wrap">
    <header class="main wrapper">
        <nav>
            <a href="{{ url_for('events.index') }}">Events</a>
            {% if session.admin %}
            <a href="{{ url_for('events.new_event') }}">Add Event</a>
            {% elif not session.admin and not session.user %}
            <a href="{{ url_for('events.login') }}">Login</a>
            {% endif %}
            {% if session.admin or session.user %}
            <a href="{{ url_for('events.logout') }}">Logout</a>
            {% endif %}
        </nav>
    </header>
</div>

{% endblock %}

{% block content %}
<div class="container">
    {% for msgs in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ msgs }}
    </div>
    {% endfor %}
    {% block page_content %}
    {% endblock %}
</div>
{% endblock %}
