{% extends "bootstrap/base.html" %}

{% block title %}Events{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.css') }}">
<script type="text/javascript"
    src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type="text/javascript">
    var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
{% endblock %}

{% block navbar %}
<div class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <ul class="nav navbar-nav">
            <li><a class="navbar-brand" href="{{ url_for('events.index') }}">Events</a></li>
            {% if session.admin %}
            <li><a class="navbar-brand" href="{{ url_for('events.new_event') }}">Add Event</a></li>
            {% elif not session.admin and not session.user %}
            <li><a class="navbar-brand" href="{{ url_for('events.login') }}">Login</a></li>
            {% endif %}
            {% if session.admin or session.user %}
            <li><a class="navbar-brand" href="{{ url_for('events.logout') }}">Logout</a></li>
            {% endif %}
        </ul>
    </div>
</div>

{% endblock %}

{% block content %}
<div class="container">
    {% for msgs in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ msgs }}
    </div>
    {% endfor %}
    {% block page_content %}
    {% endblock %}
</div>
{% endblock %}
